html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    border: 0;
    font-family: 'Lora', serif;
}
ul{
    display: none;
}
nav select{
    position: fixed;
    top: 0;
    float: right;
    color: aliceblue;
    width: 100%;
    display: block;
    background: #990000;
    z-index: 100;
}
#Section1 {
    text-align: center;
    color:white;
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}
#Section1::after {
    content: "";
    background: url("WebBackground.jpg");
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#Section1 h1 {
    padding-top: 10vh;
    margin: 0;
    text-align: center;
    font-size: 40px;
}
#Section1 p1 {
    display: inline-block;
    position: relative;
    padding-top: 10vh;
    text-align: center;
    font-size: 20px
}
#Section2 {
    height: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #e6ccb3;
    line-height: 3vh;
}
#Section2 h3, h4{
    font-size: 20px;
}
#obverseCoin {
    width: 40%;
    height: auto;
    
}
#reverseCoin {
    width: 40%;
    height: auto;
}
#Section3 {
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: center;
    background: #d9d9d9;
}
#Augustus {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Section4 {
    width: 100%;
    height: auto;
    background: #e6ccb3;
    display: inline-block;
}
#Section4 h1, h2 {
    text-align: center;
}
#Section4 p{
    display: block;
    text-align: center;
    line-height: 2.5vh;
    margin-left: 20%;
    margin-right: 20%;
}
#Section4 p1 {
    display: block;
    line-height: 2.5vh;
    text-align: left;
}
#Aureus{
    margin-left: 25vw;
    width: 50%;
    height: auto;
}
#BuildingCoin{
    margin-left: 25vw;
    width: 50%;
    height: auto;
}
#Graph {
    margin-left: 25vw;
    width: 50%;
    height: auto;
}
#Map {
    margin-left: 25vw;
    width: 50%;
    height: auto;
}
#Section5 {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    background: #d9d9d9;
}
#Section5 p {
    line-height: 2.5vh;
    display: block;
    text-align: left;
}
#Constantine{
    width: 50%;
    height: auto;
}
#Section5 p1 {
    line-height: 2.5vh;
    text-align: left;
    display: block;

}
#Section6 {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    background: #e6ccb3;
}
#Section6 p {
    display: block;
    line-height: 3vh;
    text-align: left;
    }
@media only screen and (min-width: 1440px) {
    nav select {
        display:none;
    }
    nav{
        width:100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: #990000;
        z-index: 100;
    }
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        float: left;
    }
    a {
        padding: 20px;
        width: 120px;
        display: block;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    #Section1::after {
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Section1 h1 {
        font-weight: bold;
        padding-top: 35vh;
        margin: 0;
        text-align: center;
        font-size: 60px;
    }
    #Section1 p1 {
        padding-top: 5vh;
        font-size: 30px
    }
    #Section2 h3, h4{
        line-height: 2.5vh;
        font-size: 20px;
    }
    #Section2 p {
        line-height: 2vh;
        padding-left: 20%;
        padding-right: 20%;
    }
    #obverseCoin {
        width: 20%;

    }
    #reverseCoin {
        width: 20%;
    }
    #Section3 p{
        line-height: 2vh;
        margin-left: 25%;
        margin-right: 25%;
    }
    #Augustus {
        width: 60%;
    }
    #Section4 p{
        line-height: 1.5vh;
        margin-left: 35%;
        margin-right: 35%;
    }
    #Section4 p1 {
        line-height: 2vh;
        margin-left: 35%;
        margin-right: 35%;
    }
    #Aureus{
        margin-left:35%;
        width: 30%;
    }
    #BuildingCoin{
        margin-left:35%;
        width: 30%;
    }
    #Graph {
        margin-left:35%;
        width: 30%;
    }
    #Map {
        margin-left:35%;
        width: 30%;
    }
    #Constantine {
        width: 15%;
    }
    #Section5 p {
        margin-left: 35%;
        margin-right: 35%;
    }
    #Section5 p1 {
        margin-left: 35%;
        margin-right: 35%;
    }
    #Section6 p {
        line-height: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
@media only screen and (min-width: 768px) and  (max-width: 1440px){
    nav select {
        display:none;
    }
    nav{
        width:100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: #990000;
        z-index: 100;
    }
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        float: left;
    }
    a {
        padding: 20px;
        width: 120px;
        display: block;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
    #Section1::after {
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Section1 h1 {
        font-weight: bold;
        padding-top: 35vh;
        font-size: 60px;
    }
    #Section1 p1 {
        margin-top: 5vh;
        font-size: 30px
    }
    #Section2 h3, h4{
        line-height: 2.5vh;
        font-size: 20px;
    }
    #Section2 p {
        line-height: 2vh;
        padding-left: 20%;
        padding-right: 20%;
    }
    #obverseCoin {
        width: 20%;
    }
    #reverseCoin {
        width: 20%;
    }
    #Section3 p{
        line-height: 2vh;
        margin-left: 25%;
        margin-right: 25%;
    }
    #Augustus {
        width: 60%;
    }
    #Section4 p{
        line-height: 1.5vh;
        margin-left: 35%;
        margin-right: 35%;
    }
    #Section4 p1 {
        line-height: 2vh;
        margin-left: 25%;
        margin-right: 25%;
    }
    #Aureus{
        margin-left:35%;
        width: 30%;
    }
    #BuildingCoin{
        margin-left:35%;
        width: 30%;
    }
    #Graph {
        margin-left:35%;
        width: 30%;
    }
    #Map {
        margin-left:35%;
        width: 30%;
    }
    #Section5 p {
        line-height: 2vh;
        margin-left: 25%;
        margin-right: 25%;
    }
    #Constantine {
        width: 25%;
    }
    #Section5 p1 {
        line-height: 2vh;
        margin-left: 25%;
        margin-right: 25%;
    }
    #Section6 p {
        line-height: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
